@import url('bootstrap');
@import url('bootstrap-icons');

body {
  font-family: 'Roboto Variable', sans-serif;
}

h1 {
    font-family: 'OpenDyslexic', sans-serif;
}
.list-style{
  display: flex;
  justify-content: space-between;
}
.card-style{
  width: 450px;
  margin-top: 1rem;
}
.add-form{
  margin: 0.5rem 1rem;
}
